@import "node_modules/ol/ol.css";
@font-face {
  font-family: 'FontMaki';
  src: url('path/to/font-maki.ttf') format('truetype'),
       url('path/to/font-maki.woff') format('woff'),
       url('path/to/font-maki.svg') format('svg');
}



html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
